.container {
    width: 400px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
    height: 600px;
}

.display {
    width: 380px;
    height: 100px;
    background-color: #FF060A;
    font-size: 4rem;
    font-family: Comic Sans MS;
    font-weight: bold;
    direction: rtl;
    padding-left: 2px;
    padding-right: 20px;
    color: gainsboro;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.button{
    width: 80px;
    height: 80px;
    margin: 10px 5px;
    border-radius: 50%;
    background-color: rgb(138, 137, 136);
    font-size: 38px;
    font-family: comic sans MS;
    font-weight: bold;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 1px solid transparent;
}
.button:hover {
    cursor: pointer;
    background-color: lightgray;
}
.button:active {
    color: rgb(56, 56, 56);
    background-color: rgb(170, 170, 170);
}
.buttons input { 
    background: url(button.jpg); 
    margin: 0 auto; 
    overflow: hidden; 
    width: 50px; 
    height: 50px; 
    border-radius: 5px; 
    font-size: 24px; 
    }
    .big {
        width: 500px;
        margin: 0 auto;
    }